name: CI

on:
  pull_request:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.2

      - uses: pnpm/action-setup@v4.0.0

      - uses: actions/setup-node@v4.1.0
        with:
          node-version-file: package.json
          cache: pnpm

      - run: pnpm install

      - run: pnpm run lint

  check-dist:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.2

      - uses: pnpm/action-setup@v4.0.0

      - uses: actions/setup-node@v4.1.0
        with:
          node-version-file: package.json
          cache: pnpm

      - run: pnpm install

      - run: pnpm run build

      - run: git diff --exit-code -- dist/

  run-self:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Run self
        uses: ./
        with:
          target-file: "*"
          common-dependency-paths: |-
            action.yml
